@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'banner banner'
      'membership1 membership2';
  }

  .membership1 h3,
  .membership2 h3 {
    margin: 30px 0;
  }

  .membership1 h1,
  .membership2 h1 {
    margin-top: 44px;
  }
}

@media (max-width: 414px) {
  .container {
    margin: 20px 20px;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .main-nav ul li a {
    gap: 7px;
  }

  header {
    grid-template-columns: 1fr;
    grid-template-areas:
      'banner'
      'membership1'
      'membership2';
  }

  .web-presence__text {
    padding: 14px;
  }

  .web-business {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0;
  }
}
